{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
<div class="change-password-container">
    <h1 class="form-title">
        {% if token_fail %}
            {% trans "Bad Token" %}
        {% else %}
            {% trans "Change Password" %}
        {% endif %}
    </h1>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="form-instruction">
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}" class="reset-link">new password reset</a>.{% endblocktrans %}
        </p>
    {% else %}
        <form method="post" action="{{ action_url }}" class="form-fields">
            {% csrf_token %}
            {% for field in form %}
            <div class="field-container">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                <div class="alert alert-danger">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary form-button" name="action">{% trans 'Change Password' %}</button>
        </form>
    {% endif %}
</div>
{% endblock content %}