body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}
.main-bg {
    background-color: #f8f9fa;
    /* Light gray background */
}

.dark-bg {
    background-color: #343a40;
    /* Dark background for footer */
    color: #ffffff;
    /* White text on dark background */
}

.navbar {
    background-color: #ffffff;
    /* White background for the navbar */
}

.brand {
    color: #21d5e2;
    /* Blue color for the brand name */
}
.container {
    padding: 20px;
}

.card {
    margin-bottom: 20px;
}
.btn-like {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-signup {
    background-color: #21d5e2;
    color: #ffffff;
}
.navbar {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
}

.navbar-brand {
    font-size: 1.5rem;
    /* Adjust the font size of the brand */
}

.navbar-text {
    color: #6c757d;
    /* Subtle color for the additional text */
}
.alert {
    border-radius: 0;
    /* Remove border radius for a modern look */
}
.footer {
    text-align: center;
}
.custom-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Center text and form field */
}

.custom-form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #21d5e2;
}

.custom-form-container p {
    margin-bottom: 20px;
    font-size: 16px;
}

/* Style the form fields */
.custom-form-container input[type="hidden"] {
    display: none;
    /* Hide hidden fields */
}

.custom-form-container input[type="submit"] {
    background-color: #21d5e2;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    /* Make the submit button full width */
}

/* Responsive styles */
@media (max-width: 768px) {
    .custom-form-container {
        width: 100%;
        padding: 15px;
    }
}