<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">body {
    background-color: grey;
}

.brand {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #007bff;
    /* Blue color */
}

.brand-text {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: #004080;
    /* Darker blue color */
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    left: -2px;
    background-color: #23BBBB;
    padding: 4px;
    border-radius: 4px;
    color: #fff;
}

.author {
    color: #fff;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #007bff;
}

.post-link:hover,
.page-link {
    color: #004080;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
    font-size: 1.8rem;
    color: #004080;
}

.post-subtitle {
    margin-left: 5%;
    color: #6c757d;
    /* Gray color */
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #004080;
}

.custom-form-container {
    text-align: center;
    background-image: url('https://www.pexels.com/de-de/foto/licht-dunkel-gebaude-industrie-10143298/');
    background-size: cover;
    background-position: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-form-container h2 {
    color: #333;
}

.custom-form-container p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.custom-form-container input[type="text"],
.custom-form-container input[type="email"],
.custom-form-container input[type="password"] {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    /* Center the text within the input */
}

/* Additional styling for the placeholder text */
.custom-form-container input[type="text"]::placeholder,
.custom-form-container input[type="email"]::placeholder,
.custom-form-container input[type="password"]::placeholder {
    text-align: center;
    /* Center the placeholder text */
}

.custom-form-container button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.custom-form-container button:hover {
    background-color: #0056b3;
}